body {
    font-family:'EB Garamond'; 
}

a {
    color:black;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.025);
}

.container {
    padding-left: 50px; 
    padding-right: 50px;
}

.column {
    float: left;
    padding: 30px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

#article-text {
    font-size: 1.25em;
}